<template>
    <div>
        <canvas ref="canvas"></canvas>
        <div class="legend" v-html="legend"></div>
    </div>
</template>

<script>
    import Chart from 'chart.js'
    import axios from 'axios'

    export default {
        data() {
            return {
                chart: '',
                legend: ''
            }
        },
        props: ['url'],
        methods: {
            load() {
                this.fetchData().then(
                    response => this.render(response.data)
                )
            },
            fetchData() {
                return axios.get('api/revenue')
            },
            render(data) {
                this.chart = new Chart(this.$refs.canvas, {
                    type: 'line',
                    data: {
                        labels: Object.keys(data),
                        datasets: [
                            {
                                label: "Revenue",
                                backgroundColor: 'rgba(220, 220, 220, 0.2)',
                                borderColor: 'rgba(220, 220, 220, 1)',
                                hoverBackgroundColor	: 'rgba(220, 220, 220, 1)',
                                hoverBorderColor	: 'rgba(220, 220, 220, 1)',
                                data: Object.values(data)
                            }
                        ]
                    }
                })

                this.legend = this.chart.generateLegend()
            },
            reload() {
                this.chart.destroy()

                this.load()
            }
        },
        mounted() {
            this.load()
        }
    }
</script>
