<template>
    <div>
        <div>
            <label>How many days?</label>

            <select v-model="range" @change="reload">
                <option v-for="n in 365" :key="n">{{ n }}</option>
            </select>
        </div>

        <canvas ref="canvas"></canvas>

        <div class="legend" v-html="legend"></div>
    </div>
</template>

<script>
    import BaseGraph from './BaseGraph'

    export default {
        extends: BaseGraph,
        props: {
            range: { default: 30 }
        },
        methods: {
            fetchData() {
                return axios.get('api/revenue', {
                    params: { range: this.range }
                })
            }
        }
    }
</script>
